<h4>Product Grid</h4>

<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" [(clrDgSelected)]="selectedProducts" class="datagrid-compact">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary"><clr-icon shape="plus"></clr-icon> Create</button>
      <button type="button" class="btn btn-sm btn-secondary" *ngIf="selectedProducts.length == 1"><clr-icon shape="pencil"></clr-icon> Edit</button>
      <button type="button" class="btn btn-sm btn-secondary" *ngIf="selectedProducts.length >= 1"><clr-icon shape="trash"></clr-icon> Delete</button>
    </div>
  </clr-dg-action-bar>

  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'price'">Price</clr-dg-column>

  <clr-dg-row *ngFor="let product of products" [clrDgItem]="product">
    <clr-dg-cell>{{product.id}}</clr-dg-cell>
    <clr-dg-cell>{{product.name}}</clr-dg-cell>
    <clr-dg-cell>{{product.price}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    of {{products.length}} products
    <clr-dg-pagination #pagination [clrDgTotalItems]="products.length"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


