
<clr-alerts>
  <clr-alert *ngFor="let exception of exceptions" [clrAlertType]="'danger'" [clrAlertAppLevel]="true" (clrAlertClosedChange)="remove(exception)">
    <div class="alert-item">
      <span class="alert-text">
          {{exception.message}}
      </span>
    </div>
  </clr-alert>
</clr-alerts>
