
<form id="loginForm" class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" #loginFormElement novalidate>
  <section class="form-block">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="Username" size="24" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" size="24" formControlName="password">
    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
  </section>
</form>
