
<div class="main-container">
  <app-exception></app-exception>
  <app-modal></app-modal>
  <header class="header header-6" *ngIf="user">
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{user.username}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" clrDropdownItem>Preferences</a>
          <a href="javascript://" (click)="logout()" clrDropdownItem>Logout</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container" *ngIf="user">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
    </nav>
  </div>
</div>
