
<clr-modal *ngFor="let modal of modals"
           [clrModalOpen]="modal.opened"
           (clrModalOpenChange)="onOpenChange(modal, $event)"
           [clrModalClosable]="modal.options.closable"
>
  <h3 class="modal-title">{{modal.options.title}}</h3>
  <div class="modal-body">
    <ng-container *ngComponentOutlet="modal.component"></ng-container>
  </div>
</clr-modal>
